body{
    background-color: greenyellow;
    text-align: center;
}
h1{
    font-variant: small-caps;
    margin-left: 100px;
    color: blue;
    background-color: cornsilk;
}
#score{
    font-size: 23px; 
    margin-right: 450px;
   
}
#timer{
    font-size: 23px;
    margin-left: 450px;
}
#canvas{
    text-align: center;
    background-color: white;
    border: 5px solid grey;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 100px;
    animation-iteration-count: infinite;
}
p, span{
padding-top:10px;
font-family: 'Special Elite', fantasy;
font-size:25px;
}
#draw_canvas{
    color: red;
}
#show_sketch{
    float:right;
}
@keyframes example {

    from {box-shadow: 1px 1px 38px grey;}
    to {box-shadow: 1px 1px 38px white;}
  
  }
